
body {
  padding-top: 56px;
}
.nav-link{
  margin-left: 25px;
}
.btn-aside{
  margin-bottom: 5px;
}
.btn-aside2{
  margin-bottom: 5px;
}
#link{
  color: #ffff;
}
.card-header{
  background-color: rgb(218, 217, 217);
}