.nav-link{
    margin-left: 25px;
}
.rounded {
    height: 250px;
}
.intro {
    margin-bottom: 0px;
}
.img-footer{
    height: 100px;
    width: 100%;
    background-color: #6c757d;
}
.img-col{
    padding-bottom: 15px;
}

.jumbotron-fluid{
      text-align: center;
}
.btn-aside{
    margin-bottom: 5px;
    width: 200% !important;
}